<header class="site-header">
  <div class="site-header__inner">
    <a class="site-header__brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/images/profile.jpg" alt="{{ site.title }}" class="site-header__brand-avatar">
      <span class="site-header__brand-name">{{ site.title }}</span>
    </a>
    <nav class="site-nav" id="site-main-nav" aria-label="Ana menü">
      <button class="site-nav__close" data-nav-close aria-label="Menüyü kapat">
        <span class="icon icon-x-circle"></span>
      </button>
      <ul class="site-nav__list">
        <li class="site-nav__item"><a href="{{ site.baseurl }}/" class="site-nav__link">Anasayfa</a></li>
        <li class="site-nav__item"><a href="{{ site.baseurl }}/about/" class="site-nav__link">Hakkında</a></li>
        <li class="site-nav__item"><a href="{{ site.baseurl }}/subscribe/" class="site-nav__link">Abone Ol</a></li>
      </ul>
    </nav>
    <button class="site-header__toggle" data-nav-toggle aria-label="Menüyü aç">
      <span class="icon icon-list"></span>
    </button>
  </div>
</header>

<section class="site-hero">
  <div class="site-hero__inner">
    <div class="site-hero__media">
      <a class="site-header__brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/profile.jpg" alt="{{ site.title }}" class="site-hero__avatar">
      </a>
    </div>
    <div class="site-hero__content">
      <p class="site-hero__eyebrow">Teknoloji & Yapay Zeka</p>
      <h1 class="site-hero__title">{{ site.title }}</h1>
      <p class="site-hero__description">{{ site.description }}</p>
      <div class="site-hero__actions">
        <a class="btn btn-secondary" href="{{ site.baseurl }}/blog/">Blogu keşfet</a>
        <a class="btn btn-primary" href="{{ site.baseurl }}/youtube/">YouTube kanalım</a>
        <a class="btn btn-tertiary" href="{{ site.baseurl }}/podcast/">Podcast dinle</a>
        <a class="btn btn-subscribe" href="{{ site.baseurl }}/subscribe/">Abone ol</a>
      </div>
      <div class="site-hero__social">
        {% if site.author.email %}
          <a href="mailto:{{ site.author.email }}" aria-label="E-posta"><i class="icon icon-mail"></i></a>
        {% endif %}
        {% if site.author.youtube_username %}
          <a href="https://youtube.com/@{{ site.author.youtube_username }}" target="_blank" rel="noopener" aria-label="YouTube">
            <i class="icon icon-social-youtube"></i>
          </a>
        {% endif %}
        {% if site.author.linkedin_username %}
          <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" target="_blank" rel="noopener" aria-label="LinkedIn">
            <i class="icon icon-social-linkedin"></i>
          </a>
        {% endif %}
        {% if site.author.github_username %}
          <a href="https://www.github.com/{{ site.author.github_username }}" target="_blank" rel="noopener" aria-label="GitHub">
            <i class="icon icon-social-github"></i>
          </a>
        {% endif %}
        {% if site.author.twitter_username %}
          <a href="https://twitter.com/{{ site.author.twitter_username }}" target="_blank" rel="noopener" aria-label="X (Twitter)">
            <i class="icon icon-social-twitter"></i>
          </a>
        {% endif %}
        {% if site.author.instagram_username %}
          <a href="https://instagram.com/{{ site.author.instagram_username }}" target="_blank" rel="noopener" aria-label="Instagram">
            <i class="icon icon-social-instagram"></i>
          </a>
        {% endif %}
        <a href="{{ site.baseurl }}/feed.xml" target="_blank" rel="noopener" aria-label="RSS"><i class="icon icon-rss"></i></a>
      </div>
    </div>
  </div>
</section>
