<!DOCTYPE html>
<html lang="tr">
  {% include head.html %}
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7LT9HVDJ7M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7LT9HVDJ7M');
</script>
  <body>
    {% include header.html %}
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
