---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d %H:%M" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time>
      {% if page.tags.size > 0 %}
      &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</span>
      {% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>

<p style="font:italic bold;">
  En yalın haliyle

  <a href="https://www.mehmetcemyucel.com">Mehmet Cem Yücel</a>
</p>

<hr>
  
  {% if site.related_posts.size >= 1 %}
  <div>
    <h5>Bu yazılar ilgilinizi çekebilir</h5>
    <ul>
    {%- assign pageDateInSecondsInEpoch = page.date | date:"%s" | plus: 0 -%}
    {% assign cnt = 0 %}
    {% for post in site.related_posts %}
      {% assign match = false %}
      {%- assign postDateInSecondsInEpoch = post.date | date:"%s" | plus: 0 -%}
      {%- if pageDateInSecondsInEpoch > postDateInSecondsInEpoch -%}
        {% for category in post.categories %}
          {% if page.categories contains category %}
            {% assign match = true %}
          {% endif %}
        {% endfor %}
      {% endif %}  
      {% if match %}
        {% assign cnt = cnt | plus:1 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% if cnt == 5 %}
        {% break %}
      {% endif %}
    {% endfor %}
    </ul>
    <h5>Blockchain teknolojisi ile ilgileniyor iseniz bunlar da hoşunuza gidebilir</h5>
    <ul>
      <li><a href="https://www.mehmetcemyucel.com/categories/#blockchain">BlockchainTurk.net yazıları</a></li>
    </ul>
    <hr>
  </div>
{% endif %}

  {% include goruntulu-yatay-1.html %}
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>

{% if page.comments != false %}{% include disqus.html %}{% endif %}


