<!DOCTYPE html>
<html lang="tr">
  {% include head.html %}
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTWC897"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include header.html %}
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
